---
import QueueElement from "./QueueElement.astro"
---
<!-- give this attributes to be a rectangle -->
<div class="ml-3 w-4/5 right-10">
    <QueueElement></QueueElement>
    <QueueElement></QueueElement>
    <QueueElement></QueueElement>
    <QueueElement></QueueElement>


    
</div>