---
const { cardTitle, description } = Astro.props;
---
<div class="card bg-neutral mx-0.5 my-1 w-48 h-48 shadow-xl float-right">
    <div class="card-body">
        <h2 class="card-title"> {cardTitle} </h2>
        <p> {description} </p>
    </div>
</div>