---
---
<div class="w/1/5">
    <input type="text" placeholder="Task Title" class="w-2/3 input input-bordered w-full max-w-xs" />
    <button class="btn btn-neutral w-1/4">add</button>
    <textarea class="resize-none text-lg textarea textarea-bordered block p-2.5 w-full text-sm rounded-lg h-96 mt-2" placeholder="Task Description"></textarea>
</div>